@{
    ViewData["Title"] = "My ASP.NET Shop";
}

<div class="text-center">
    <h1 class="display-4">My ASP.NET Shop</h1>
    <p>Ласкаво просимо до нашої крамниці!</p>
</div>

@if (Context.User.Identity?.IsAuthenticated ?? false)
{
    <div class="auth-status">
        <i>
            <span class="checkmark">✔</span> Ви авторизовані
        </i>
    </div>
}
else
{
    <div class="auth-status">
        <i>
            <span class="crossmark">✘</span> Немає авторизації - <button onclick="authModalCall()">Авторизуватися</button>
        </i>
    </div>
}

<div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
    <a asp-controller="Shop" asp-action="Index" class="btn btn-shop btn-animated">
        <i class="bi bi-bag-plus"></i> Перейти до крамниці
    </a>
</div>